html{
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}
.main{
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"),no-repeat;
  background-size: 100%;

}
